---
---

@import "{{ site.theme }}";

.page-header {
  position: relative;
  background-image: url("/assets/images/shuttle.jpg");
  background-size: cover;
  background-position: center;
}

/* FIXED overlay */
.page-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* adjust darkness here */
  z-index: 0;
}

/* keep text above overlay */
.page-header * {
  position: relative;
  z-index: 1;
}
